.container{
    -fx-background-color: #ffff;
    -fx-effect: dropshadow(three-pass-box, #949393, 10, 0, 0, 5);
    -fx-background-radius: 14;
}
.table-view{
    -fx-background-radius:  14;
}
.table-header{
    -fx-font-size: 25px;
    -fx-font-weight: 800;
}
.table-view .column-header-background {
    -fx-background-color: #9a9898;
    -fx-background-radius: 14;
    -fx-font-size: 20px;
    -fx-text-fill: #212529;
}
.table-cell{
    -fx-alignment: CENTER;
}
.table-row-cell{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 20px;
    -fx-cursor: HAND;
}
.table-row-cell:hover{
    -fx-background-color: #eaeaf1;
}
.table-row-cell:focused{
    -fx-background-color: none;
    -fx-text-fill: none;
}
.table-view .column-header, .table-view .filter{
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
}
.btn-design{
    -fx-background-color: #ffff;
    -fx-cursor: HAND;
}
.filter-design{
    -fx-background-color: #ffff;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
    -fx-cursor: HAND;
    -fx-font-size: 20px;
    -fx-border-width: 2;
    -fx-border-color: black;
}
.dialog-deisgn{
    -fx-background-color: #ffff;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
}