.header{
    -fx-background-color: linear-gradient(to right, #f87000, #fd0026);
}
.sidebar{
    -fx-background-color: #2b2a2f;
}
.navigation-design{
    -fx-background-color: transparent;
    -fx-font-size: 25px;
    -fx-text-alignment: center;
    -fx-text-fill: #979191;
}
navigation-text{
    -fx-font-size: 25px;
    -fx-text-fill: #979191;
    -fx-text-alignment: center;
}
.navigation-design:hover{
    -fx-text-fill: #ffff;
    -fx-underline: true;
}
.avatar{
    -fx-border-radius: 50%;
}
.list-container{
    -fx-border-width: 1px;
    -fx-border-color: rgb(224, 224, 224);
    -fx-border-radius: 20px;
}