.container{
    -fx-background-color:  #f6fdff;
}
.header{
    -fx-background-color: linear-gradient(to right, #f87000, #fd0026);
}
.sidebar{
    -fx-padding: 30 0 0 0;
    -fx-background-radius: 0 10px 10px 0;
}
.sidebar-design{
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}
.sidebar-design:hover{
    -fx-background-color: #ffff;
    -fx-underline: true;
}
.selected-item{
    -fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #f20000 0.0%, #f20000 20.6376%, #0ab6e1 100.0%);
}
.sidebar-button{
    -fx-background-color: transparent;
    -fx-font-size: 25px;
    -fx-font-weight: 700;
    -fx-text-fill: #484848;
    -fx-cursor: HAND;
}
.sidebar-button:hover{
    -fx-background-color: #dcdcdc;
}
.sidebar-button:pressed{
    -fx-background-color: #b7b7b7;
}
.header-title{
    -fx-text-fill: linear-gradient(to right, #f87000, #fd0026);
    -fx-font-weight: 700;
    -fx-font-size: 30px;
    -fx-padding: 0 0 40 0;
}
.header-content{
    -fx-font-size: 20px;

}
.head-sidebar{
    -fx-font-weight: 700;
    -fx-text-fill: #f0a07c;
    -fx-font-size: 15px;
}
.list-container{
    -fx-border-width: 1px;
    -fx-border-color: rgb(224, 224, 224);
    -fx-border-radius: 20px;
}
.label-design{
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-end-margin: 20;
    -fx-start-margin: 20;
}
.input-design{
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-end-margin: 20;
    -fx-start-margin: 20;
}
.total-apartment-label{
    -fx-text-fill: #4e73df;
    -fx-font-size: 20px;
    -fx-font-weight: 700;
}
.total-apartment-card{
    -fx-border-width: 1px 1px 1px 5px;
    -fx-border-color: #d5d5d5 #d5d5d5 #d5d5d5 #4e73df;
    -fx-border-radius: 5;
    -fx-background-color: white;
}