.left-container{
    -fx-background-color: linear-gradient(to bottom right, #2f466b, #662d60);
}
.text-design{
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-color: linear-gradient(to bottom right, #2f466b, #662d60);
    -fx-background-radius: 10px;
}
.button-design{
    -fx-background-color: linear-gradient(to bottom right, #2f466b, #662d60);
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}
.button-design:hover{
    -fx-background-color: linear-gradient(to bottom right, #517ab5, #ae44a5);
}